.UserPage{
    width: 80%;
    height: auto;
    min-width: 500px;
    margin: 10% 15% 25px;
    padding: 15px 5%;
    border: #777 1px solid;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
    background: white;
}