.SimilarPage{
    width: 70%;
    min-width: 510px;
    margin: 5px 15%;
    padding: 5px;
    border: #777 1px solid;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
    background: white;
}

.p-tabview{
    margin: 10px 5%;
}

.p-datascroller-content{
    border: none !important;
}