body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
    display: block;
    background: linear-gradient(46.71222351534266deg, rgba(243, 72, 104,1) 1.5442708333333335%,rgba(242, 72, 104,1) 1.5442708333333335%,rgba(26, 232, 232,1) 96.6484375%) fixed no-repeat center;
}

html{
    height: 100%;
    scroll-behavior: smooth;
    margin: 0;
}

body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #555;
}
